<%- include("../partials/header") %>


<div class="container">
<header class="jumbotron">
	<h1>
		Welcome To YelpCamp!
	</h1>
	<p>
		View our hand-picked campgrounds all over the world
	</p>
	<p>
		<a class="btn btn-primary btn-md" href="/campgrounds/new">Add New Campground!</a>
	</p>
	
</header>
</div>

<div class="container">
<div class="row text-center">
	
	<% campground.forEach(function(camp){ %>
	
		<div class="col-md-3 col-sm-6">
			<figure class="figure">
				<img src="<%= camp.image%>" class="figure-img img-thumbnail">
				<figcaption class="figure-caption"><h4><%= camp.name %></h4></figcaption>
				<a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">More info</a>
			</figure>
		</div>
	
	<% }); %>
</div>
</div>
	
<%- include("../partials/footer") %>